# To install: https://phpstan.org/user-guide/getting-started

parameters:
  level: 8
  paths:
    #- .
    - texasfortytwo.game.php
    - table.game.php
  excludePaths:
    - material.inc.php
    - states.inc.php
    - stats.inc.php
  ignoreErrors:
    -
      message: '#.*#'
      path: table.game.php